<app-navbar></app-navbar>

<!-- Sistema de rutas -->
<div class="container-fluid background" style="margin-right: 0%; padding-right: 0%;">
    <div class="row" style="background-color: rgba(85, 80, 80, 0); width: 100%;">
        <div class="col-12" style="background-color: rgba(0, 0, 0, 0); padding-left: 0px; padding-right:0px;" >
            <div class="card " style="background-color: rgba(0, 0, 0, 0); border: 0px; ">
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

<!-- <div class="row" style="background-color: rgb(85, 80, 80);">
    <div class="col-12" style="background-color: rgba(0, 0, 0, 0.418); padding-left: 0px; padding-right: 0px " >
        <div class="card" style="background-color: rgba(0, 0, 0, 0.418);"> -->