<div class="row background" style="width: 100%; height: 100%; margin: 0px;">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" style="padding-top: 5%;">
        <img src="../../../assets/images/segiir-name.png" alt="">
        <p class="titulo">El Software:</p>
        <p align="justify" class="parrafo">
            SeGIIR  es un software desarrollado con el objetivo de realizar el seguimiento a la práctica
            Gestión Iterativa e Incremental de Requisitos de RUP (GIIR-RUP), dicha práctica fue resultado del
            trabajo de grado para optar al título de Ingeniero de Sistemas denominado 
            <b>Esencialización de la Practica Gestión de Requisitos de RUP utilizando el Modelo para la Definición
                de prácticas en Ingeniería de Software</b>.
        </p>
        <p class="titulo">Versión:</p>
        <p class="parrafo">1.0</p>
        <p class="titulo">Autores: </p>
        <p>John Snyder Guerrero Riascos</p>
        <p>Jhonny Edison Chapal Vallejo</p>
        <a href="/"> Regresar</a>
    </div>
    <div class="col-sm-3" style="padding: 0px;"></div>
</div>

