<style>
    mat-expansion-panel-header {
    background-color: rgba(78, 141, 170, 0.856);
    }
    .mat-expansion-panel-header.mat-expanded:hover {
        background: rgba(57, 226, 127, 0.76);
    }
    .imagen:hover {
        filter: opacity(.5);
    }
</style>
<div class="card">
    <div class="card-header" style="background-color: rgb(160, 157, 158);">
        <b><p  style="font-size:20px; color: rgb(0, 0, 0);" >LA PRACTICA : GESTIÓN ITERATIVA E INCREMENTAL DE REQUISITOS DE RUP (GIIR-RUP)</p></b>
    </div>
    <div class="card-body" style="background-color: rgb(223, 223, 223);">
        <div class="row">
            <div class="col-sm-6 practica "  style="padding-top:10px;" align="center">
                <img src="../../../assets/images/practica/practica.png" alt="">
            </div>
            <div class="col-sm-6 practica"  >
                <p> La práctica <b>GIIR-RUP</b> guía la forma en la que se administran los
                    requisitos en un proyecto de desarrollo de software.<br>
                    La práctica contiene los siguientes elementos:
                </p>
                <br><b><p> Criterio de Entrada:</p></b><br>
                <div class="listaUl">
                    <ul >
                        <li>(Alfa)Oportunidad: (estado)Identificado.</li>
                        <li>Producto de trabajo: Idea de visión.</li>
                    </ul>
                </div>
                <br><b><p> Criterio de Finalización:</p></b><br>
                <div class="listaUl">
                    <ul >
                        <li>(Alfa)Requisitos: (estado)Dirigido.</li>
                        <li>(Alfa)Sistema Software: (estado)Arquitectura Seleccionada.</li>
                        <li>Producto de trabajo: Diseño de clases.</li>
                        <li>Producto de trabajo: Diseño de bases de datos.</li>
                    </ul>
                </div>
                <br><b><p> Actividades:</p></b><br>
                <div>
                    <ol>
                        <li>1. Crear visión.</li>
                        <li>2. Identificar y proyectar el negocio.</li>
                        <li>3. Formalizar el negocio.</li>
                        <li>4. Determinar entidades y los trabajadores del negocio.</li>
                        <li>5. Identificar actores y establecer la arquitectura de negocio.</li>
                        <li>6. Evaluar viabilidad del negocio.</li>
                        <li>7. Representar inicialmente los requisitos del negocio.</li>
                        <li>8. Definir actores y detallar casos de uso. </li>
                        <li>9. Especificar los requisitos del software.</li>
                        <li>10. Estructurar el modelo de caso de uso.</li>
                        <li>11. Priorizar casos de uso.</li>
                        <li>12. Modelar prototipo de interfaz de usuario.</li>
                        <li>13. Crear unidad de desarrollo.</li>
                        <li>14. Diseñar prototipo de interfaz de usuario.</li>
                        <li>15. Modelar clases.</li>
                        <li>16. Modelar bases de datos.</li>
                        <li>17. Diseñar clases.</li>
                        <li>18. Diseñar bases de datos.</li>   
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header" style="background-color: rgb(160, 157, 158);">
        <b><p  style="font-size:20px; color: rgb(0, 0, 0);" >ACTIVIDADES</p></b>
    </div>
    <div class="card-body" style="background-color: rgb(223, 223, 223);">
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);"> 
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 1: Crear visión</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad1.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad1.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Crear visión</b> permite definir los requisitos básicos y establecer las
                        características y limitaciones del proyecto. <br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Oportunidad: (estado)Identificado.</li>
                            <li>Producto de trabajo: Idea de visión.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Oportunidad: (estado)Con solución requerida.</li>
                            <li>Producto de trabajo: Visión.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Identificar requisitos básicos del proyecto.</li>
                            <li>2. Establecer caraterísticas claves y limitaciones del proyecto.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 2: Identificar y proyectar el negocio</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad12.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad12.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Identificar y proyectar el negocio</b> permite identificar y evaluar 
                        riesgos y modelar caso del negocio.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Oportunidad: (estado)Con solución requerida.</li>
                            <li>Producto de trabajo: Vision.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Oportunidad: (estado)Con valor establecido.</li>
                            <li>Producto de trabajo: Lista de riesgos.</li>
                            <li>Producto de trabajo: Caso de negocio.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Identificar y evaluar riegos.</li>
                            <li>2. Modelar caso de negocio.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 3: Formalizar el negocio</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad3.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad3.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Formalizar el negocio</b> permite redactar vocabulario
                        común, definir reglas y establecer y ajustar objetivos.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Oportunidad: (estado)Con solución requerida.</li>
                            <li>(Alfa)Interesados: (estado)Reconocido.</li>
                            <li>Producto de trabajo: Lista de riesgos.</li>
                            <li>Producto de trabajo: Caso de negocio.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Oportunidad: (estado)Viable.</li>
                            <li>(Alfa)Interesados: (estado)Representado.</li>
                            <li>Producto de trabajo: Glosario del negocio.</li>
                            <li>Producto de trabajo: Reglas del negocio.</li>
                            <li>Producto de trabajo: Visión del negocio.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Redactar vocabulario común.</li>
                            <li>2. Establecer o mantener reglas de negocio.</li>
                            <li>3. Establecer y ajustar objetivos.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 4: Determinar entidades y los trabajadores del negocio</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad4.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad4.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Determinar entidades y los trabajadores del negocio</b> 
                        permite crear el modelo de objetos e identificar los trabajadores
                        del negocio.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Oportunidad: (estado)Con valor establecido.</li>
                            <li>(Alfa)Interesados: (estado)Reconocido.</li>
                            <li>Producto de trabajo: Visión.</li>
                            <li>Producto de trabajo: Caso de negocio.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Oportunidad: (estado)Viable.</li>
                            <li>(Alfa)Interesados: (estado)Representado.</li>
                            <li>Producto de trabajo: Modelo de objetos del negocio.</li>
                            <li>Producto de trabajo: Trabajadores del negocio.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Crear el modelo de objetos del negocio.</li>
                            <li>2. Identificar trabajadores del negocio.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 5: Identificar actores y establecer la
                    arquitectura del negocio</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad5.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad5.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Identificar actores y establecer la arquitectura del negocio</b> 
                        permite identificar actores y establecer la arquitectura del negocio.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Oportunidad: (estado)Con valor establecido.</li>
                            <li>(Alfa)Interesados: (estado)Representado.</li>
                            <li>Producto de trabajo: Reglas de negocio.</li>
                            <li>Producto de trabajo: Visión del negocio.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Oportunidad: (estado)Viable.</li>
                            <li>(Alfa)Interesados: (estado)Involucrado.</li>
                            <li>Producto de trabajo: Actores de negocio identificados.</li>
                            <li>Producto de trabajo: Modelo de caso de uso del negocio.</li>
                            <li>Producto de trabajo: Arquitectura del negocio.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Identificar los actores del negocio.</li>
                            <li>2. Estructurar el modelo de caso de uso.</li>
                            <li>3. Definir la arquitectura de negocio.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 6: Evaluar viabilidad del negocio</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad6.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad6.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Identificar actores y establecer la arquitectura del negocio</b> 
                        permite evaluar viabiilidad con base en los riesgos.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Oportunidad: (estado)Con valor establecido.</li>                            
                            <li>Producto de trabajo: Lista de riesgos.</li>
                            <li>Producto de trabajo: Visión del negocio.</li>
                            <li>Producto de trabajo: Modelo de caso de uso del negocio.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Oportunidad: (estado)Viable.</li>
                            <li>Producto de trabajo: Caso de uso del negocio.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Evaluar viabilidad con base en riesgos, modelo de caso de uso 
                                y visión del negocio.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 7: Representar inicialmente los requisitos del negocio</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad7.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad7.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Representar inicialmente los requisitos del negocio</b> 
                        permite la creación de un modelo de análisis y especificaciones.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Oportunidad: (estado)Viable.</li>
                            <li>(Alfa)Requisitos: (estado)Concebido.</li>
                            <li>Producto de trabajo: Visión del negocio.</li>
                            <li>Producto de trabajo: Caso de uso del negocio.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Requisitos: (estado)Acotado.</li>
                            <li>Producto de trabajo: Modelo de análisis.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Crear modelo de análisis y especificaciones.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 8: Definir actores y detallar casos de uso</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad8.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad8.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Definir actores y detallar casos de uso</b> 
                        permite definir los actores y detallar los casos de uso del negocio.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul>
                            <li>(Alfa)Requisitos: (estado)Concebido.</li>
                            <li>Producto de trabajo: Actores de negocio identificados.</li>
                            <li>Producto de trabajo: Caso de uso del negocio.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Requisitos: (estado)Acotado.</li>
                            <li>Producto de trabajo: Actores definidos.</li>
                            <li>Producto de trabajo: Casos de uso detallados.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Definir los actores del negocio.</li>
                            <li>2. Detallar casos de uso.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 9: Especificar los requisitos del software</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad9.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad9.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Especificar los requisitos del software</b> 
                        permite la especificación de los requisitos.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul>
                            <li>(Alfa)Requisitos: (estado)Acotado.</li>
                            <li>Producto de trabajo: Modelo de análisis.</li>
                            <li>Producto de trabajo: Casos de uso detallados.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Requisitos: (estado)Coherente.</li>
                            <li>Producto de trabajo: Especificación de requisitos.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Especificar los requisitos.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 10: Estructurar casos de uso</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad10.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad10.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Estructurar casos de uso</b> 
                        permite estructurar el modelo de caso de uso del negocio.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul>
                            <li>(Alfa)Requisitos: (estado)Coherente.</li>
                            <li>Producto de trabajo: Especificación de requisitos.</li>
                            <li>Producto de trabajo: Modelo de caso de uso del negocio.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Requisitos: (estado)Aceptable.</li>
                            <li>Producto de trabajo: Casos de uso estructurados.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Estructurar los casos de uso utilizando la especificación de los requisitos 
                                y el modelo de caso de uso del negocio.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 11: Priorizar casos de uso</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad11.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad11.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Priorizar casos de uso</b> 
                        permite priorizar los casos de uso estructurados.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul>
                            <li>(Alfa)Requisitos: (estado)Coherente.</li>
                            <li>Producto de trabajo: Casos de uso estructurados.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Requisitos: (estado)Aceptable.</li>
                            <li>Producto de trabajo: Lista priorizada de casos de uso.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Priorizar casos de uso estructurados.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 12: Modelar prototipo de interfaz de usuario</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad12.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad12.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Modelar prototipo de interfaz de usuario</b> 
                        permite modelar el prototipo de interfaz de usuario<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul>
                            <li>(Alfa)Sistema Software: (estado)Arquitectura Selecionada.</li>
                            <li>Producto de trabajo: Lista priorizada de casos de uso.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Sistema Software: (estado)Arquitectura Seleccionada.</li>
                            <li>Producto de trabajo: Modelo del prototipo de interfaz de usuario.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Modelar prototipo utilizando lista priorizada de casos de uso.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 13: Crear unidad de desarrollo</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad13.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad13.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Crear unidad de desarrollo</b> 
                        permite identificar y establecer la unidad de desarrollo.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul>
                            <li>(Alfa)Sistema Software: (estado)Arquitectura Selecionada.</li>
                            <li>Producto de trabajo: Casos de uso estructurados.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Sistema Software: (estado)Arquitectura Seleccionada.</li>
                            <li>Producto de trabajo: Unidad de desarrollo establecida.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Identificar unidad de desarrollo.</li>
                            <li>2. Establecer unidad de desarrollo.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 14: Diseñar prototipo de interfaz de usuario</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad14.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad14.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Diseñar prototipo de interfaz de usuario</b> 
                        permite diseñar el prototipo de interfaz de usuario.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul>
                            <li>(Alfa)Sistema Software: (estado)Arquitectura Selecionada.</li>
                            <li>(Alfa)Requisitos: (estado)Aceptable</li>
                            <li>(Alfa)Oportunidad: (estado)Viable.</li>
                            <li>(Alfa)Interesados: (estado)De acuerdo.</li>
                            <li>Producto de trabajo: Modelo de prototipo de interfaz de usuario.</li>
                            <li>Producto de trabajo: Unidad de desarrollo establecida.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Sistema Software: (estado)Arquitectura Selecionada.</li>
                            <li>(Alfa)Requisitos: (estado)Dirigido/li>
                            <li>(Alfa)Oportunidad: (estado)Dirigido.</li>
                            <li>(Alfa)Interesados: (estado)Satisfech con la implementación.</li>
                            <li>Producto de trabajo: Diseño del prototipo de interfaz de usuario.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Diseñar prototipo utilizando el modelo del prototipo.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 15: Modelar clases</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad15.png')" >
                        <img class="imagen" src="../../../assets/images/practica/actividad15.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Modelar clases</b> 
                        permite realizar el modelo de clases que intervienen en el software.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul>
                            <li>(Alfa)Sistema Software: (estado)Arquitectura Selecionada.</li>
                            <li>Producto de trabajo: Unidad de desarrollo establecida.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Sistema Software: (estado)Arquitectura Selecionada.</li>
                            <li>Producto de trabajo: Modelo de clases.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Modelar clases que intervienen en el software.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 16: Modelar bases de datos</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad16.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad16.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Modelar bases de datos</b> 
                        permite realizar el modelo de bases de datos que intervienen en el software.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul>
                            <li>(Alfa)Sistema Software: (estado)Arquitectura Selecionada.</li>
                            <li>Producto de trabajo: Unidad de desarrollo establecida.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Sistema Software: (estado)Arquitectura Selecionada.</li>
                            <li>Producto de trabajo: Modelo de bases de datos.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1. Modelar bases de datos que intervienen en el software.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 17: Diseñar clases</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad ">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad17.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad17.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Diseñar clases</b> 
                        permite realizar el diseño de clases que intervienen en el software.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul>
                            <li>(Alfa)Requisitos: (estado)Aceptable.</li>
                            <li>(Alfa)Sistema Software: (estado)Arquitectura Selecionada.</li>
                            <li>Producto de trabajo: Modelo de clases.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Requisitos: (estado)Dirigido</li>
                            <li>(Alfa)Sistema Software: (estado)Arquitectura Selecionada.</li>
                            <li>Producto de trabajo: Diseño de clases.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1.Diseñar clases que intervienen en el software.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel style="background-color: rgb(201, 199, 199);">
            <mat-expansion-panel-header> 
                <mat-panel-title >
                    <p style="font-size:18px">Actividad 18: Diseñar bases de datos</p>
                </mat-panel-title>
            </mat-expansion-panel-header >
            <div class="row" >
                <div class="col-sm-6 actividad">
                    <button mat-button (click)="openDialog('../../../assets/images/practica/actividad18.png')" >
                        <img  class="imagen" src="../../../assets/images/practica/actividad18.png" alt="">
                    </button>
                </div>
                <div class="col-sm-6 practica"  >
                    <p> La actividad <b>Diseñar bases de datos</b> 
                        permite realizar el diseño de bases de datos que intervienen en el software.<br>
                        La actividad contiene los siguientes elementos:
                    </p>
                    <br><b><p> Criterio de Entrada:</p></b><br>
                    <div class="listaUl">
                        <ul>
                            <li>(Alfa)Requisitos: (estado)Aceptable.</li>
                            <li>(Alfa)Sistema Software: (estado)Arquitectura Selecionada.</li>
                            <li>Producto de trabajo: Modelo de bases de datos.</li>
                        </ul>
                    </div>
                    <br><b><p> Criterio de Finalización:</p></b><br>
                    <div class="listaUl">
                        <ul >
                            <li>(Alfa)Requisitos: (estado)Dirigido.</li>
                            <li>(Alfa)Sistema Software: (estado)Arquitectura Selecionada.</li>
                            <li>Producto de trabajo: Diseño de bases de datos.</li>
                        </ul>
                    </div>
                    <br><b><p> Tareas:</p></b><br>
                    <div>
                        <ol>
                            <li>1.Diseñar bases de datos que intervienen en el software.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
    <div class="card-header" style="background-color: rgb(160, 157, 158);">
        <b><p  style="font-size:20px; color: rgb(0, 0, 0);" >FLUJO DE ACTIVIDADES</p></b>
    </div>
    <div class="card-body" style="background-color: rgb(223, 223, 223);">
        <div class="row">
            <div class="col-sm-8 practica"  >
                <p> Con el flujo de actividades define el orden de ejecución de las actividades y la transferencia 
                    de recursos entre ellas; para lograr conseguir el resultado esperado.
                </p>
            </div>
            <div class="col-sm-12 practica "  style="padding-top:10px;" align="center">
                <img src="../../../assets/images/practica/flujo-actividades.png" alt="">
            </div>
        </div>
    </div>
</div>
