<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    <a href=""><i class="fas fa-edit"></i></a>
                </h4>
                <form formGroup>
                    <input type="hidden">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card mx-auto">
        <div class="card-body">
            <h1>Hello</h1>
            <p class="lead">No hay notas aún</p>
            <a href="/projects/add" class="btn btn-success btn-block">Crea un proyecto</a>
        </div>
    </div>
</div>