<br>
<p align="center" style="font-size:33px; color: white;" >PROYECTOS</p>
<br>

<div class="row" style="padding-left: 10%; padding-right: 10%;">
    <div class="col-sm-6" >
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar proyecto..." #txtTermino (keyup)="buscar(txtTermino.value)">
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="cargando">
    <div class="col-12">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando" style="padding-left: 10%; padding-right: 10%;">
    <div class="col-sm-6" *ngFor="let proyecto of proyectos" style="padding-top:10px;">
        <div class="card" >
            <h5 class="card-header">{{proyecto.nombre}}</h5>
            <div class="card-body">
                <h5 class="card-title">Descripción:</h5>
                <p class="card-text">{{proyecto.descripcion}}</p>
                <a [routerLink]="['/dashboard/proyectos', proyecto._id]" class="btn btn-primary mt-2">Detalles del proyecto</a> &nbsp;
                <button *ngIf="banderaAdmin"  class="btn btn-danger mt-2" (click)="borrarProyecto(proyecto)">Eliminar proyecto</button>
            </div>
        </div>
    </div>
</div>