<br>
<p align="center" style="font-size:33px; color: white;" >CREAR PROYECTO</p>
<br>
<div class="row" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>
<div class="col-md-4 mx-auto" *ngIf="!cargando">
    <div class="card">
        <div class="card-header">
            <b><h1>Detalles proyecto</h1></b>
        </div>
        <div class="card-body formulario">
            <form [formGroup]="proyectoForm" (submit)="guardarProyecto()">
                <div class="form-group">
                    Nombre:
                    <input type="text" name="name" class="form-control" placeholder="Nombre" formControlName="nombre" autofocus value="{{proyectoForm}}">
                </div>
                <div class="form-group">
                    Descripción:
                    <textarea name="description" class="form-control" placeholder="Descripción" formControlName="descripcion"></textarea>
                </div>
                <div class="form-group">
                    Director:
                    <select class="form-control" formControlName="director">
                        <option value="">Seleccione director</option>
                        <option *ngFor="let usuario of usuarios" [value]="usuario.uid">{{usuario.nombre}} {{usuario.apellido }}</option>
                    </select>
                </div>
                <div class="form-group">
                    Seleccione los miembros del equipo de trabajo: <br><br>
                    <div *ngFor="let usuario of usuarios; let i=index">
                        <label>
                          <input type="checkbox" value={{usuario.uid}} (change)="onCheckChange($event)">
                          {{usuario.nombre}}
                        </label>
                      </div>
                    <!-- <div class="form-control" *ngFor="let usuario of usuarios">
                        <input formControlName="met" type="radio" value="{{usuario.uid}}"><label for="{{usuario.uid}}">{{usuario.nombre}}</label>
                    </div> -->
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" [disabled]="proyectoForm.invalid">Crear proyecto</button>
                </div>
            </form>
        </div>
    </div>
</div>