<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar proyecto..." #txtTermino (keyup)="buscar(txtTermino.value)">
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-sm-5 m-1" *ngFor="let proyecto of proyectos">
        <div class="card">
            <h5 class="card-header">{{proyecto.nombre}}</h5>
            <div class="card-body">
                <h5 class="card-title">Descripción:</h5>
                <p class="card-text">{{proyecto.descripcion}}</p>
                <a [routerLink]="['/dashboard/proyectos', proyecto._id]" class="btn btn-primary mt-2">Detalles del proyecto</a> &nbsp;
                <button class="btn btn-danger mt-2" (click)="borrarProyecto(proyecto)">Eliminar proyecto</button>
            </div>
        </div>
    </div>

</div>