<style>
    mat-expansion-panel-header {
    background-color: rgba(78, 141, 170, 0.856);
    }
    .mat-expansion-panel-header.mat-expanded:hover {
        background: rgba(57, 226, 127, 0.76);
    }
    
</style>
<br>
<p align="center" style="font-size:33px; color: white;" >DETALLES DEL PROYECTO</p>
<br>
<div class="row" *ngIf="cargando">
    <div class="col-12">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>
<div class="col-md-6 mx-auto" *ngIf="!cargando">
    <div class="card" style="border-color: black;" >
        <div class="card-header"  >
            <strong>
                <h1>INFORMACIÓN DEL PROYECTO</h1>
            </strong>
        </div>
        <div class="card-body formulario"  >
            <form [formGroup]="proyectoForm" (submit)="guardarProyecto()" >
                <div class="form-group" >   
                        Nombre:
                    <input type="text" name="nombre" id="nombre" class="form-control" formControlName="nombre" 
                    autofocus value="{{proyectoForm}}">
                </div > 
                <div class="form-group" *ngIf="directorAux">
                    Director:
                    <p class="form-control" style="background-color: rgb(162, 201, 202); opacity: unset;">{{ directorAux.nombre + " " + directorAux.apellido}}</p>
                </div >
                <div class="form-group">
                    Descripcion:
                    <input type="l" name="met" id="descripcion"  class="form-control" formControlName="descripcion" autofocus value="{{proyectoForm}}">
                </div >
                <div>
                    <div class="form-group" >Actividades
                        <div class="form-group" *ngFor="let actividad of actividadesAux; index as iactividad" >
                            <mat-expansion-panel>
                                <mat-expansion-panel-header> 
                                  <mat-panel-title >
                                    {{actividad.nombre}}
                                  </mat-panel-title>
                                </mat-expansion-panel-header >
                                <div style="height: 40px; display: flex; align-items: center;"><b>Tareas</b></div>
                                <div class="form-group" *ngFor="let tarea of actividad.tarea; index as itarea">
                                    <label>
                                        <div class="form-group" *ngIf="tarea.realizada; else tareanorealizada">
                                            <input type="checkbox" value="{{tarea.nombre}}" checked (change)="onCheckChange($event)">
                                            {{tarea.nombre}}
                                        </div>
                                        <ng-template #tareanorealizada>
                                            <input type="checkbox" value="{{tarea.nombre}}" (change)="onCheckChange($event)">
                                            {{tarea.nombre}}
                                        </ng-template>
                                    </label>
                                </div>
                            </mat-expansion-panel>
                        </div >
                    </div>
                </div>
                <div class="form-group" *ngIf="banderaDirector">
                    <button class="btn btn-primary btn-block" [disabled]="proyectoForm.invalid" type="submit" >Guardar</button>
                </div>
            </form>         
        </div>
    </div>
</div>