<div class="row">
    <div class="col-sm-6"  style="padding-top:10px; padding-left:5%;">
        <img src="../../../assets/images/segiir-name.png" alt="" style="height: 140px;">
    </div>
    <div class="col-sm-5" style="padding-top:10px; padding-left: 5px; height: 100%;" >
        <p align="justify" style="color: white; font-size: x-large;" >
            SeGIIR es un software desarrollado con el objetivo de realizar el seguimiento a la práctica
            Gestión Iterativa e Incremental de Requisitos de RUP (GIIR-RUP), la cual tiene como objetivo 
            guiar la forma en la que se administran los requisitos en un proyecto de desarrollo de software.
            <br>
            <br>
            Ademas de realizar el seguimiento a la práctica GIIR-RUP, el software proporciona toda la información
            de la práctica para poder aplicarla de forma adecuada. Se puede encontrar las actividades, tareas y el
            flujo de actividades en la pestaña de práctica.
            <br><br> 
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-1" align="center" style="padding:0px; ">
        <img src="../../../assets/images/udenar-logo-blanco.png" alt="" style="height: 100px;">
    </div>
    <div class="col-sm-1" align="center" style="padding:0px;">
        <img src="../../../assets/images/galeras-logo.png" alt="" style="height: 100px;">
    </div>

</div>

