<footer class="footer footer-expand-lg footer-dark bg-dark">
    <div class="row" >
        <div class="col-sm-4 "  style="padding-top:40px;" align="center">
            <img src="../../../assets/images/segiir-footer.png" style="width: 130px;" alt="">
        </div>
        <div class="col-sm-4 "  style="padding-top:40px;" align="center">
            <p style="color: white;">Version: 1.0</p> 
        </div>
        <div class="col-sm-4 "  style="padding: top 10px;" align="center">
            <p style="color: white;">Developers</p>
            <div class="row">
                <div class="col-sm-12 "  style="padding-top:10px;" align="center">
                    <table>
                        <tr >
                            <td><a href="https://www.linkedin.com/in/snyderguerrero" target="_blank">
                                <img src="../../../assets/images/linkedin-icon.png" title="https://www.linkedin.com/in/snyderguerrero" alt="" class="link">
                            </a></td>
                            <td><a href="mailto:snyderguerrero96@gmail.com" target="_blank"> 
                                <img src="../../../assets/images/email-icon.png" title="snyderguerrero96@gmail.com" alt="" class="link">
                            </a></td>
                            <td>
                                <p style="color: white;">Snyder Guerrero R.</p>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.linkedin.com/in/jhonnychapal" target="_blank">
                                <img src="../../../assets/images/linkedin-icon.png" title="https://www.linkedin.com/in/jhonnychapal" alt="" class="link">
                            </a></td>
                            <td><a href="mailto:jhonnychapal@gmail.com" target="_blank"> 
                                <img src="../../../assets/images/email-icon.png" title="jhonnychapal@gmail.com" alt="" class="link">
                            </a></td>
                            <td>
                                <p style="color: white;">Jhonny Chapal V.</p>
                            </td>
                        </tr>
                    </table>
                </div>                
            </div>
        </div>
    </div>
</footer>
